s*{
	margin: 0px;
	height: 0px;
	
}
body{
	background-color: #dfdedd;
}
.centos{
	width: 500px;
	height: 300px;
	border:2px solid #c5c5c5;
	margin: 100px auto;
	background-color: #d9dada;
	border-radius: 5px;
}

.centos .table{
	width: 480px;
	height: 280px;
	margin: 8px auto;
	border-radius: 5px;
	border: 2px solid #c5c5c5;
	background-color: #f2f2f2;
}
.centos .table tr .table_text input{
	width: 320px;
	height: 36px;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	padding-left: 6px;
}

.centos .table tr .table_radio input{
	width: 20px;
	height: 20px;
	position: relative;
	top:7px;
}

.centos .table tr .table_submit{
	width: 460px;
	height: 44px;
	background-color: #c2de89;
	border: 0px;
	border-radius: 6px;
	font-size: 16px;
}
