<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cy.dao.IUserDao">
	<resultMap type="com.cy.entity.UserInfo" id="userMap">
		<id column="userId" property="userId" />
		<result column="userName" property="userName"/>
		<result column="userAge" property="userAge"/>
		<result column="userSex" property="userSex"/>
	</resultMap>
	
	<!-- 查询全部 -->
	<select id="queryAll" resultMap="userMap">
		select userId,userName,userAge,userSex from UserInfo
	</select>
	<!-- 添加数据 -->
	<insert id="insertUser" parameterType="UserInfo">
		insert into UserInfo(userName,userAge,userSex) values(#{userName},#{userAge},#{userSex})
	</insert>
	<!-- 查询单条数据 -->
	<select id="queryId" parameterType="int" resultMap="userMap">
		select userId,userName,userAge,userSex from UserInfo where userId=#{userId}
	</select>
	<!-- 修改语句 -->
	<update id="updateUser" >
		update UserInfo set userName=#{userName},userAge=#{userAge},userSex=#{userSex} where userId=#{userId}
	</update>
	
	<!-- 删除  数据 -->
	<delete id="deleteUser" parameterType="List">
		delete from UserInfo where userId in 
  			<foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>
	</delete>
</mapper>